section {
  width: 80%;
  margin: auto;
}
.card {
  background: url(./React-icon.svg) center no-repeat;
  background-size: 200px 100px;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
}
img {
  height: 200px;
  max-height: 200px;
  opacity: 0;
  transition: opacity 0.1s, transform 0.1s;
  transition-delay: 0.5s;
}
.card p {

  opacity: 0;
  transition: opacity 0.1s, transform 0.1s;
  transition-delay: 0.5s;
  background-color: black;
  color: white;
}
.card:hover {
  transform: rotateY(180deg);
}
.card:hover img, .card:hover p {
  opacity: 1;
  transform: rotateY(180deg);
}

